<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <link rel="stylesheet" href="../static/styles/dashboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Dashboard</title>
</head>
<body>
  <header>
    <nav>
      <a id="hbnb-logo" href="{{ url_for('index') }}"><img id="hbnb_logo" src="../static/assets/logo.png" alt="logo"></a>
      <ul>
        <li><a href="/contact">CONTACT US</a></li>
        <li><a href="/logout" id="login-link">LOGOUT</a></li>
      </ul>
        <!-- search box -->
    </nav>
</header>
<main>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div id="flash-message">
        <p>{{message}}</p>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>
  <section id="user-details">
    <div id="user-box">
      <h3>Personal details</h3>
      <img class="avatar" src="https://i.pravatar.cc/80?u={{ range(1,70) | random }}" alt="avatar">
      <span><strong>First name: </strong>{{ user.first_name }}</span>
      <span><strong>Last name: </strong>{{ user.last_name }}</span>
      <span><strong>Email: </strong>{{ user.email }}</span>
      <a class="edit-btn" href="/update_user/{{ user.id }}">Edit your personal details</a>
      <a class="edit-btn" href="/add_place">Add a new property</a>
    </div>
  </section>

  <h3>PROPERTY</h3>
  <section id="place-details">
    {% for place in places %}
    <div id="place-box">
      <!-- loop thru all properties -->
      <div class="prop-card">
        <img src="https://i.pinimg.com/736x/a3/e9/74/a3e9749dc682622ad912d77ab4910bd6.jpg" alt="prop-pic">
        <ul>
          <li id="property-name" style="text-align: center;"><i class="fa-solid fa-house"></i>{{ place.property_name.upper() }}</li>
          <li><i class="fa-solid fa-dollar-sign"></i>{{ place.price|round|int }}</li>
          <li><i class="fa-solid fa-pen-to-square"></i>{{ place.description.capitalize() }}</li>
          <li><i class="fa-solid fa-location-dot"></i>{{ place.latitude }}</li>
          <li><i class="fa-solid fa-location-dot"></i>{{ place.longitude }}</li>
        </ul>
        <a class="edit-btn" href="/update_place/{{ place.place_id }}">Edit your property details</a>
      </div>
    </div>
    {% else %}
      <span>There is no property</span>
    {% endfor %}
  </section>

</main>
<footer>
  <div id="slogan_div">
    <img style="width: 80px; margin-right: 20px;" id="hbnb-logo" src="../static/assets/logo.png" alt="logo">
    <p>Your go-to platform for amazing places to stay – from cozy cabins to luxurious villas!</p>
  </div>
  <div id="social_policy">
    <div id="social">
      <h1 id="contact">Connect with us</h1>
        <ul>
          <li><i class="fa-brands fa-facebook"></i></li>
          <li><i class="fa-brands fa-twitter"></i></li>
          <li><i class="fa-brands fa-instagram"></i></li>
        </ul>
    </div>
    <div id="policy">
      <p>&copy; 2024 HBnB, Inc. All rights reserved. | <a href="/#">Privacy Policy</a> | <a href="/#">Cookie Policy</a></p>
  </div>
</div>
</footer>
  <script src="../static/scripts.js"></script>
</body>
</html>
