<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <nav>
          <img id="hbnb_logo" src="../static/assets/logo.png" alt="logo">
          <ul>
            <li><a href="./index.html">INDEX</a></li>
            <li><a href="places.html">PLACES</a></li>
            <li><a href="places.html">CONTACT US</a></li>
            <li><a href="login.html" id="login-link">LOGIN</a></li>
          </ul>
            <!-- search box -->
        </nav>
    </header>
    <main>
      <!-- banner -->
      <div id="banner">
        <img src="../static/assets/banner.png" alt="banner">
      </div>
      <section id="filter">
          <label for="price-filter">Max Price:</label>
          <select id="price-filter">
          <input id="seach-box" type="search" id="site-search" name="q" placeholder="farmhouse..."/>
          <button id="search-btn">Search</button>
              <!-- Options will be populated dynamically -->
          </select>
      </section>
      <section id="places-list">
        <div class="places-container">
          <!-- Iterate over places passed from Flask and display them -->
          {% if places %}
              {% for place in places %}
                  <div class="place-item">
                    <div class="image-box">
                      <i class="fa-regular fa-heart"></i>
                      <img class="place-photo" src="https://media.gq.com/photos/66019f02c081abc36b271454/16:9/w_1280,c_limit/airbnb-art.jpg" alt="random_place_photo">
                    </div>
                    <div class="place-detail-box">
                      <div class="des-box">
                        <h2><i class="fa-solid fa-house-chimney"></i> {{ place.title }}</h2>
                        <p><strong>Description:</strong> {{ place.description }}</p>
                        <p><strong>Latitude:</strong> {{ place.latitude }} <i class="fa-solid fa-location-dot"></i></p>
                        <p><strong>Longitude:</strong> {{ place.longitude }} <i class="fa-solid fa-location-dot"></i></p>
                      </div>
                      <div class="rating-box">
                        <!-- javascript -->
                        <p>Rating: <span style="color:rgb(255, 212, 19); "class="fa fa-star"></span><span style="color:rgb(255, 212, 19); "class="fa fa-star"></span></p>
                      </div>
                      </div>
                    </div>
              {% endfor %}
          {% else %}
              <p>No places available.</p>
          {% endif %}
      </div>
          <!-- List of places will be populated dynamically -->
      </section>
    </main>
    <footer>
      <div id="slogan_div">
        <img src="../static/assets/logo.png" alt="logo">
        <p>Your go-to platform for finding and listing amazing places to stay. Whether you're looking for a cozy cabin, a chic apartment, or a luxurious villa, HBnB has got you covered!</p>
      </div>
      <div id="social_policy">
        <div id="social">
          <h1 id="contact">Connect with us</h1>
            <ul>
              <li><i class="fa-brands fa-facebook"></i></li>
              <li><i class="fa-brands fa-twitter"></i></li>
              <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>
        <div id="policy">
          <p>&copy; 2024 HBnB, Inc. All rights reserved. | <a href="/privacy">Privacy Policy</a> | <a href="/cookies">Cookie Policy</a></p>
      </div>
    </div>
    </footer>
    <script src="../static/scripts.js"></script>
</body>
</html>
