<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <header>
      <nav>
        <a id="hbnb-logo" href="{{ url_for('index') }}"><img id="hbnb_logo" src="../static/assets/logo.png" alt="logo"></a>
        <ul>
          <li><a href="/contact">CONTACT US</a></li>
          {% if session.get('login') %}
            <li><a href="/dashboard">DASHBOARD</a></li>
            <li><a href="/logout" id="login-link">LOGOUT</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}" id="login-link">LOGIN</a></li>
          {% endif %}
        </ul>
      </nav>
  </header>
    <main>
      <!-- banner -->
      <div id="banner">
        <img src="../static/assets/banner.png" alt="banner">
      </div>
      <!-- SEARCH SECTION -->
      <section id="filter">
          <label for="price-filter">Max Price:</label>
          <select id="price-filter">
            <option value="1">250</option>
            <option value="2">500</option>
            <option value="3">1000</option>
            <option value="4">3000</option>
            <option value="5">7000</option>
            <option value="6">10000</option>
          </select>
          <input id="search-box" type="search" id="site-search" name="q" placeholder="Search here..."/>
          <button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
          <button id="reset-btn"><i style="color: white;" class="fa-solid fa-rotate-left"></i></button>
      </section>
      <section id="places-list">
        <div class="places-container">
          <!-- Iterate over places passed from Flask and display them -->
          {% if places %}
              {% for place in places %}
                  <div class="place-item">
                    <div class="image-box">
                      <img class="place-photo" src="https://media.gq.com/photos/66019f02c081abc36b271454/16:9/w_1280,c_limit/airbnb-art.jpg" alt="random_place_photo">
                    </div>
                    <h2><i class="fa-solid fa-house-chimney"></i> {{ place.title.upper() }}</h2>
                    <p><i class="fa-solid fa-quote-left quote"></i>{{ place.description.capitalize() }}<i class="fa-solid fa-quote-right quote"></i></p>
                    <div class="place-detail-box">
                      <div class="des-box">
                        <p><i class="fa-solid fa-location-dot"></i><strong>Latitude:</strong> {{ place.latitude }}</p>
                        <p><i class="fa-solid fa-location-dot"></i><strong>Longitude:</strong> {{ place.longitude }}</p>
                        <p><i class="fa-solid fa-dollar-sign"></i><strong>Price:</strong> {{ place.price }}</p>
                      </div>
                      <div class="rating-box">
                        <!-- average rating -->
                        <p>Rating: {{ '%.2f' % place['average_rating']|float }}</p>
                        <p>{% for _ in range(place['average_rating']|float|int) %}
                          <span style="color:rgb(255, 212, 19);" class="fa fa-star rating-star"></span>  <!-- Full star -->
                        {% endfor %}
                        {% if place['average_rating']|float % 1 >= 0.5 %}
                            <span style="color:rgb(255, 212, 19);" class="fa fa-star-half-alt rating-star"></span>  <!-- Half star -->
                        {% endif %}
                        </p>
                          </p>
                          </p>
                      </div>
                    </div>
                      <div id="detail-btn-box">
                        <a id="detail-btn" href="{{ url_for('place_page', place_id=place.id) }}">More details</a>
                      </div>
                    </div>
              {% endfor %}
          {% else %}
              <p>No places available.</p>
          {% endif %}
      </div>
          <!-- List of places will be populated dynamically -->
      </section>
    </main>
    <footer style="bottom: 0; position: relative;">
      <div id="slogan_div">
        <img style="width: 80px; margin-right: 20px;" id="hbnb-logo" src="../static/assets/logo.png" alt="logo">
        <p>Your go-to platform for amazing places to stay – from cozy cabins to luxurious villas!</p>
      </div>
      <div id="social_policy">
        <div id="social">
          <h1 id="contact">Connect with us</h1>
            <ul>
              <li><i class="fa-brands fa-facebook"></i></li>
              <li><i class="fa-brands fa-twitter"></i></li>
              <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>
        <div id="policy">
          <p>&copy; 2024 HBnB, Inc. All rights reserved. | <a href="/#">Privacy Policy</a> | <a href="/#">Cookie Policy</a></p>
      </div>
    </div>
    </footer>
    <script src="../static/scripts.js"></script>
</body>
</html>
