<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/places.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <img id="hbnb_logo" src="../assets/logo.png" alt="logo">
      <ul>
        <li><a href="./index.html">INDEX</a></li>
        <li><a href="places.html">PLACES</a></li>
        <li><a href="contact.html">CONTACT US</a></li>
        <li><a href="login.html" id="login-link">LOGIN</a></li>
      </ul>
        <!-- search box -->
    </nav>
</header>
<h1>List of Places</h1>

<div id="places-container">
    <!-- Iterate over places passed from Flask and display them -->
    {% if places %}
        {% for place in places %}
            <div class="place-item">
                <h2>{{ place.title }}</h2>
                <p>Latitude: {{ place.latitude }}</p>
                <p>Longitude: {{ place.longitude }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No places available.</p>
    {% endif %}
</div>
  <footer>
    <div id="slogan_div">
      <img src="../assets/logo.png" alt="logo">
      <p>Your go-to platform for finding and listing amazing places to stay. Whether you're looking for a cozy cabin, a chic apartment, or a luxurious villa, HBnB has got you covered!</p>
    </div>
    <div id="social_policy">
      <div id="social">
        <h1 id="contact">Connect with us</h1>
          <ul>
            <li>facebook</li>
            <li>twitter</li>
            <li>instagram</li>
          </ul>
      </div>
      <div id="policy">
        <p>&copy; 2024 HBnB, Inc. All rights reserved. | <a href="/privacy">Privacy Policy</a> | <a href="/cookies">Cookie Policy</a></p>
      </div>
    </div>
  </footer>
  <script src="../static/scripts.js"></script>
</body>
</html>
