:root {
  --first-color: #a4cbc9;
  --second-color: #3c3c46;
  --link-color: #a4b6c2;
  --hover-color: #f5b56c;
  --base-color: #e1e1db;
  --button-background: #f37a1f;
  --bg-color: #f4f4f4;
  --font-primary: #474040;
  --white: #ffffff;
  --black: #000000;
  --box-shadow:#b8b8b8 2px 2px 2px;
}

html, body {
  margin: 0;  /* Remove default margin */
  padding: 0;  /* Remove default padding */
  overflow-x: hidden;
  box-sizing: border-box;  /* Ensure padding and border do not affect the width/height */
}

#flash-message-login {
  color: #0f8bd3;
  position: absolute;
  left: 45%;
  text-align: center;
  margin: 20px 0 10px;
  padding: 10px 20px;
  border: 1px solid #0f8bd3;
  border-radius: 10px;
  background-color: #c9eefc;
}

h1 {
  text-align: center;
}

#user-details {
  display: flex;
  justify-content: center;

  #user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    box-shadow: grey 0px 0px 5px 0px;
    border-radius: 15px;
    padding: 2rem;
    margin: 4rem;

    h3 {
      margin: 0 0 2rem;
    }
    .avatar {
      border-radius: 50%;
      margin: 0rem 0rem 2rem;
      border: 10px var(--first-color) double;
    }

    a {
      margin: 2rem;
    }

    span {
      margin: 0 0 1.5rem;
    }
  }
}

h3 {
  text-align: center;
}

#place-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  transition: all 350ms ease-in-out;

  span {
    text-align: center;
  }

  #place-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: grey 0px 0px 5px 0px;
    border-radius: 15px;
    padding: 2rem;
    margin: 4rem;

    .prop-card {
      display: flex;
      flex-direction: column;

      img {
        width: 240px;
        margin: 2rem;
        border-radius: 15px;
      }

      ul {
        #property-name {
          font-size: 1.05rem;
        }

        li {
          list-style: none;
          margin: 0 0 1.5rem;


          i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  #place-box:hover {
    transform: translateY(-10px);
  }
}

.edit-btn {
  text-align: center;
  padding: 5px 20px;
  background-color: var(--button-background);
  border-radius: 15px;
  text-decoration: none;
  color: var(--white);
  margin: 1.5rem;
  transition: all 350ms ease-in-out;
  box-shadow: var(--box-shadow);
  border: none;
}

.edit-btn:hover {
  cursor: pointer;
  background-color: #c85e0d;
  box-shadow: #b8b8b8 4px 4px 4px;
}

// RESPONSIVE
@media (max-width: 1250px) {
  #place-details {
    grid-template-columns: 1fr 1fr;

    #place-box {
      margin: 2rem;
    }

  #user-details {
    #user-box {
      width: 550px;
    }
  }
}
}

@media (max-width: 750px) {
  #place-details {
    grid-template-columns: 1fr;
  }
}
