:root {
  --first-color: #5cbdb9;
  --second-color: #ebf6f5;
  --link-color: #f3c5aa;
  --hover-color: #f5b56c;
  --base-color: #dddcdb;
  --button-background: #f7ccd5;
  --bg-color: #f4f4f4;
  --font-primary: #474040;
  --white: #ffffff;
  --black: #000000;
}

main {
  #banner {
    width: 100%;

    img {
      width: 100%;
    }
  }

  #filter {
    display: flex;
    justify-content: center;
  }

  label {
    border: 2px solid var(--primary-color);
      padding: 6px 18px;
      color: var(--third-color);
    }

  #places-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;

    .place-card {
      background-color: var(--second-color);
    }
  }
}
