:root {
  --firt-color: #a4cbc9;
  --second-color: #3c3c46;
  --link-color: #a4b6c2;
  --hover-color: #f5b56c;
  --base-color: #e1e1db;
  --button-background: #f37a1f;
  --bg-color: #f4f4f4;
  --font-primary: #474040;
  --white: #ffffff;
  --black: #000000;
  --box-shadow:#b8b8b8 2px 2px 2px;
}

main #banner img {
  width: 100%;
}
main #filter {
  color: white;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  height: 80px;
}
main #filter label {
  color: white;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
main #filter #price-filter {
  font-size: 0.9rem;
  color: white;
  border: none;
  width: 130px;
  height: 40px;
  background-color: var(--button-background);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: 6rem;
  text-align: center;
}
main #filter #price-filter:hover {
  cursor: pointer;
}
main #filter #search-box::placeholder {
  color: #ffffff;
}
main #filter input {
  border: none;
  width: 250px;
  height: 40px;
  text-align: center;
  padding-left: 2rem;
  background-color: var(--button-background);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
main #filter #search-btn {
  font-size: 0.9rem;
  border: none;
  width: 65px;
  height: 40px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--button-background);
  font-size: 0.8rem;
  transition: all 250ms ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main #filter #search-btn i {
  color: #f37a1f;
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  transition: all 350ms ease-in-out;
  border: 2px solid var(--button-background);
}
main #filter #search-btn i:hover {
  color: #f5b56c;
  border: 2px solid #f5b56c;
}
main #filter #search-btn:hover {
  cursor: pointer;
}
main #filter #reset-btn {
  color: white;
  margin: 0 5rem;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 10px;
  transition: all 350ms ease-in-out;
  background-color: var(--button-background);
}
main #filter #reset-btn i {
  font-size: 1.2rem;
}
main #filter #reset-btn:hover {
  background-color: #ffa94d;
}
main #filter #reset-btn:hover {
  cursor: pointer;
}
main label {
  border: 2px solid var(--primary-color);
  padding: 20px 40px;
  color: var(--third-color);
  background-color: var(--button-background);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
main section .places-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3rem;
  margin: 4rem;
}
main section .places-container .place-photo {
  max-width: 100%;
  border-radius: 15px;
}
main section .places-container .place-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  align-items: flex-start;
  box-shadow: #b1b1b1 0px 0px 5px 0px;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}
main section .places-container .place-item .quote {
  margin: 0 10px;
  color: var(--button-background);
}
main section .places-container .place-item #detail-btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .places-container .place-item #detail-btn-box #detail-btn {
  color: var(--white);
  padding: 5px 20px;
  background-color: var(--button-background);
  border-radius: 15px;
  text-decoration: none;
  transition: all 350ms ease-in-out;
  box-shadow: var(--box-shadow);
}
main section .places-container .place-item #detail-btn-box #detail-btn:hover {
  background-color: #c85e0d;
  box-shadow: #b8b8b8 4px 4px 4px;
}
main section .places-container .place-item h2 {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
  color: var(--first-color);
  letter-spacing: 1.5px;
}
main section .places-container .place-item .place-detail-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: start;
  padding: 0.8rem 0rem;
  width: 100%;
}
main section .places-container .place-item .place-detail-box .rating-box {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}
main section .places-container .place-item .place-detail-box .rating-box .rating-star {
  margin: 1px;
}
main section .places-container .place-item .place-detail-box p {
  font-size: 0.95rem;
  line-height: 20px;
}
main section .places-container .place-item .place-detail-box i {
  margin-right: 5px;
}
main section .places-container .place-card {
  background-color: var(--second-color);
}
main section .place-item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
