@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
:root {
  --first-color: #a4cbc9;
  --second-color: #3c3c46;
  --link-color: #a4b6c2;
  --hover-color: #f5b56c;
  --base-color: #e1e1db;
  --button-background: #f37a1f;
  --bg-color: #f4f4f4;
  --font-primary: #474040;
  --white: #ffffff;
  --black: #000000;
  --box-shadow: #b8b8b8 2px 2px 2px;
}

h1 {
  text-align: center;
}

main #place-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #place-section .pic-box {
  display: flex;
  gap: 10px;
}
main #place-section .pic-box .place-photo {
  width: 700px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
main #place-section .pic-box .pic-second-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main #place-section .pic-box .pic-second-box img.side-pic-top {
  width: 400px;
  border-top-right-radius: 15px;
}
main #place-section .pic-box .pic-second-box img.side-pic-bottom {
  width: 400px;
  border-bottom-right-radius: 15px;
}
main #place-section #detail-box {
  margin: 5rem 0;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: #cacaca 0px 1px 10px 0px;
}
main #place-section #detail-box h1 {
  letter-spacing: 2px;
  margin: 1rem 1rem 0.5rem;
  color: var(--first-color);
}
main #place-section #detail-box #host-box {
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
}
main #place-section #detail-box #host-box #host-avatar {
  border-radius: 50%;
  margin-right: 1.5rem;
}
main #place-section #detail-box #host-box #host-avatar:hover {
  cursor: pointer;
  opacity: 0.8;
}
main #place-section #detail-box #price-field {
  font-size: 1.4rem;
  color: var(--button-background);
}
main #place-section #detail-box #description {
  margin-top: 1.5rem;
}
main #place-section #detail-box p {
  line-height: 1.7rem;
}
main #place-section #detail-box i {
  margin: 5px;
}
main #place-section #detail-box .icons-home {
  display: grid;
  justify-items: center;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}
main #place-section #detail-box #review-btn, main #place-section #detail-box #edit-btn {
  padding: 5px 20px;
  background-color: var(--button-background);
  border-radius: 15px;
  text-decoration: none;
  color: var(--white);
  margin: 1.5rem;
  transition: all 350ms ease-in-out;
  box-shadow: var(--box-shadow);
}
main #place-section #detail-box #review-btn:hover, main #place-section #detail-box #edit-btn:hover {
  cursor: pointer;
  background-color: #c85e0d;
  box-shadow: #b8b8b8 4px 4px 4px;
}
main #place-section #detail-box .amenity-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #place-section #detail-box .amenity-box ul {
  list-style: none;
}
main #place-section #detail-box .message {
  margin: 20px 0 10px;
  padding: 10px 20px;
  border: 1px solid var(--first-color);
  border-radius: 15px;
  background-color: #e4efee;
}
main #place-section #places-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 2rem;
}
main #place-section #places-list .place-card {
  background-color: var(--second-color);
}
main h2 {
  text-align: center;
  margin: 1rem 0 4rem;
}
main #review-section {
  padding: 0 2rem 5rem;
}
main #review-section .review-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
main #review-section .review-box .review {
  height: 280px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
main #review-section .review-box .review .avatar {
  position: relative;
  margin: 1.5rem;
  border-radius: 50%;
}
main #review-section .review-box .review p {
  line-height: 40px;
}
main #review-section .review-box .review .author {
  font-family: "Lobster", cursive;
  letter-spacing: 2px;
  font-size: 1.6rem;
}
main #review-section .review-box .review .quote {
  color: #f37a1f;
  margin: 5px;
}

/*# sourceMappingURL=place.css.map */
