@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

:root {
  // --first-color: #5cbdb9;
  --first-color: #a4cbc9;
  --second-color: #3c3c46;
  --link-color: #a4b6c2;
  --hover-color: #f5b56c;
  --base-color: #e1e1db;
  --button-background: #f37a1f;
  --bg-color: #f4f4f4;
  --font-primary: #474040;
  --white: #ffffff;
  --black: #000000;
  --box-shadow: #b8b8b8 2px 2px 2px;
}

h1 {
  text-align: center;
}

main {
  #place-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .pic-box {
      display: flex;
      gap: 10px;

      .place-photo {
        width: 700px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      .pic-second-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        img.side-pic {
          width: 400px;
        }
      }
    }

    #detail-box {
      margin: 5rem 0;
      padding: 2rem 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      border-radius: 15px;
      box-shadow: #cacaca 0px 1px 10px 0px;


      h1 {
        letter-spacing: 2px;
        margin: 1rem 1rem 0.5rem;
        color: var(--first-color);
      }

      #host-box {
        display: flex;
        align-items: center;
        margin: 1rem 0 0;

        #host-avatar {
          border-radius: 50%;
          margin-right: 1.5rem;
        }

        #host-avatar:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      #price-field {
        font-size: 1.4rem;
        color: var(--button-background);
      }

      #description {
        margin-top: 1.5rem;
      }

      p {
        line-height: 1.7rem;
      }

      i {
        margin: 5px;
      }

      .icons-home {
        display: grid;
        justify-items: center;
        gap: 4rem;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
      }

      #review-btn {
        padding: 5px 20px;
        background-color: var(--button-background);
        border-radius: 15px;
        text-decoration: none;
        color: var(--white);
        margin: 1.5rem;
        transition: all 350ms ease-in-out;
        box-shadow: var(--box-shadow);
      }

      #review-btn:hover {
        cursor: pointer;
        background-color: #c85e0d;
        box-shadow: #b8b8b8 4px 4px 4px;
      }

      .amenity-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
          list-style: none;
        }
      }
    }

    #places-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      gap: 2rem;

      .place-card {
        background-color: var(--second-color);
      }
    }
  }

  h2 {
    text-align: center;
    margin: 1rem 0 4rem;
  }

  #review-section {
    padding: 0 2rem 5rem;
    .review-box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem;

      .review {
        height: 280px;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;

        .avatar {
          position: relative;
          margin: 1.5rem;
          border-radius: 50%;
        }

        p {
          line-height: 40px;
        }
        .author {
          font-family: 'Lobster', cursive;
          letter-spacing: 2px;
          font-size: 1.6rem;
        }

        .quote {
          color:#f37a1f;
          margin: 5px;
        }
      }
    }
  }
}
